.ex-1-square {
    transition: 2s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: 2s;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    transition: 2s;
}

.ex-3-square:hover {
    border-radius: 50px;
}

.ex-4-square {
    transition: 2s;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    transition: 2s;
}

.ex-5-square:hover {
    width: 80px;
    height: 80px;
}

.ex-5-square:active {
    width: 40px;
    height: 40px;
}

.ex-6-img:hover {
    filter: grayscale(1);
}


.ex-7-img {
    transition: 4s;
}

.ex-7-img:hover {
    filter: sepia(.5) blur(5px);
}

.ex-8-img {
    transition: 3s;
}

.ex-8-img:hover {
    border-radius: 30px;
    filter: invert(.1) brightness(.8);
}

.ex-9-img {
    transition: 3s;
}

.ex-9-img:hover {
    border-radius: 30px;
    filter: saturate(.1) sepia(.8);
    transform: scale(1.2);
}

.ex-10-icon {
    animation: caricamento 1s linear infinite;
}

@keyframes caricamento {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0);
    }
}

.ex-11-icon:hover {
    animation: giro-orario 1s linear;
}

@keyframes giro-orario {
    0% {
        transform: rotate(0);
    }

    75% {
        transform: rotate(320deg);
    }

    100% {
        transform: rotate(0);
    }
}
