.ex-1-square {
    transition: 2s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: 2s;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    transition: 2s;
}

.ex-3-square:hover {
    border-radius: 50px;
}

.ex-4-square {
    transition: 2s;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    transition: 2s;
}

.ex-5-square:hover {
    width: 80px;
    height: 80px;
}

.ex-5-square:active {
    width: 40px;
    height: 40px;
}

.ex-6-img:hover {
    filter: grayscale(1);
}


.ex-7-img {
    transition: 4s;
}

.ex-7-img:hover {
    filter: sepia(.5) blur(5px);
}

.ex-8-img {
    transition: 3s;
}

.ex-8-img:hover {
    border-radius: 30px;
    filter: invert(.1) brightness(.8);
}

.ex-9-img {
    transition: 3s;
}

.ex-9-img:hover {
    border-radius: 30px;
    filter: saturate(.1) sepia(.8);
    transform: scale(1.2);
}

.ex-10-icon {
    animation: caricamento 1s linear infinite;
}

@keyframes caricamento {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0);
    }
}

.ex-11-icon:hover {
    animation: giro-orario 1s linear;
}

@keyframes giro-orario {
    0% {
        transform: rotate(0);
    }

    75% {
        transform: rotate(320deg);
    }

    100% {
        transform: rotate(0);
    }
}

.ex-12-button:hover .ex-12-top-white {
    animation: movimento-top 3s linear;
}

@keyframes movimento-top {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }

}

.ex-12-button:hover .ex-12-bottom-white {
    animation: movimento-bottom 3s linear;
}

@keyframes movimento-bottom {
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }

}

.ex-13-button:hover .ex-13-top-white {
    animation: movimento-completo-top 3s linear;
}

@keyframes movimento-completo-top {
    0% {
        left: 10%;
        top: -10px;
    }
    20% {
        left: calc(100% - 30px);
        top: -10px;
    }
    40% {
        left: calc(100% - 30px);
        top: 100%;
    }
    60% {
        left: 0;
        top: 100%;
    }
    80% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: movimento-completo-bottom 3s linear;
}

@keyframes movimento-completo-bottom {
    0% {
        right: 20%;
        bottom: -10px;
    }
    20% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    40% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    60% {
        right: 0;
        bottom: 100%;
    }
    80% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        right: 20%;
        bottom: -10px;
    }

}
